<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zillit-drive</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.zillit.drive</string>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Zillit Drive needs camera access to capture photos and videos for upload.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Zillit Drive needs photo library access to upload photos and videos.</string>
</dict>
</plist>
